ion-content {
    --background: #fff;
}

ion-toolbar {
    --background: linear-gradient(#19e3cb, #8af2e6);
}

ion-title {
    text-align: center;
}

/* Without setting height the slides will take up the height of the slide's content */
ion-slides {
    height: 100%;
}

h1 {
    color: #000;
    font-size: 16px;
    margin: 0em 2em;
}

ion-button {
    width: 80%;
    margin-left: 2em;
    margin-right: 2em;
}