<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="previousMonth()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-buttons>
    <div class="ion-text-center">
      <ion-title> {{ viewTitle }} </ion-title>
    </div>
    <ion-buttons slot="end" (click)="nextMonth()">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <calendar
    [eventSource]="eventSource"
    [calendarMode]="calendar.mode"
    [currentDate]="calendar.currentDate"
    (onEventSelected)="onEventSelected($event)"
    (onTitleChanged)="onViewTitleChanged($event)"
    (onTimeSelected)="onTimeSelected($event)"
    step="30"
    (showEventDetail)="true"
    formatDayHeader="EEEEE"
    allDayLabel="All Day"
    startHour="9"
    endHour="20"
    [monthviewDisplayEventTemplate]="template"
    [lockSwipeToPrev]="true"
  >
  </calendar>

  <ng-template #template let-view="view" let-row="row" let-col="col">
    <div [class.with-event]="view.dates[row*7+col].events.length">
      {{view.dates[row*7+col].label}}
      <div class="indicator-container">
        <div
          class="event-indicator"
          *ngFor="let e of view.dates[row*7+col].events"
        ></div>
      </div>
    </div>
  </ng-template>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="addEvent()">
    <ion-fab-button size="small">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
