.indicator-container {
  padding-left: 0.5rem;
  padding-bottom: 0.4rem;
}

.event-indicator {
  background: var(--ion-color-success);
  width: 5px;
  height: 5px;
  border-radius: 5px;
  display: table-cell;
}

:host ::ng-deep {
  td,
  th {
    border: 0 !important;
  }
  tr {
    height: 2rem !important;
  }

  .monthview-primary-with-event {
    background-color: white !important;
  }

  .monthview-selected {
    background-color: var(--ion-color-success) !important;
    color: white !important;
    border-radius: 50% !important;
    padding: 15px !important;
  }

  .monthview-secondary-with-event{
      background-color: transparent !important;
      border: 0 !important;
  }

  .monthview-current {
    border-radius: 50% !important;
    padding: 15px !important;
  }
}

.with-event {
  background-color: transparent !important;
  border-radius: 15px;
  color: black;
}
