<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="previousMonth()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title> {{ viewTitle }} </ion-title>
    <ion-buttons slot="end" (click)="nextMonth()">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <calendar
    [eventSource]="eventSource"
    [calendarMode]="calendar.mode"
    [currentDate]="calendar.currentDate"
    (onEventSelected)="onEventSelected($event)"
    (onTitleChanged)="onViewTitleChanged($event)"
    (onTimeSelected)="onTimeSelected($event)"
    step="30"
    (showEventDetail)="true"
    formatDayHeader="EEEEE"
    allDayLabel="All Day"
    startHour="9"
    endHour="20"
  >
  </calendar>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="addEvent()">
    <ion-fab-button size="small">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
