<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Your Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-card>
    <!-- <ion-card-header>
      <ion-card-title><h5>Profile</h5></ion-card-title>
    </ion-card-header> -->
    <ion-slides pager="true">
    <ion-slide>
    <ion-item>
      <ion-label position="floating">What is your name?</ion-label>
      <ion-input [(ngModel)]="nameValue"></ion-input>
    </ion-item>
  </ion-slide>
  <ion-slide>
    <ion-item>
      <ion-label position="stacked">What is your sex?</ion-label>
      <ion-select placeholder="Select One"  [(ngModel)]="sexValue">
        <ion-select-option value="male">Male</ion-select-option>
        <ion-select-option value="female">Female</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-slide>
  <ion-slide>
    <ion-item>
      <ion-label position="floating">How old are you?</ion-label>
      <ion-input type="number" [(ngModel)]="ageValue"></ion-input>
    </ion-item>
  </ion-slide>
  <ion-slide>
    <ion-item>
      <ion-label position="floating">What is your height?</ion-label><br>
    </ion-item>
    <ion-item>

      <ion-input type="number"  [(ngModel)]="heightValue1"></ion-input>

      <ion-select placeholder="Select One" [(ngModel)]="heightType">
        <ion-select-option value="ft">ft</ion-select-option>
        <ion-select-option value="meters">m</ion-select-option>
      </ion-select>

      <ion-input type="number" [(ngModel)]="heightValue2"></ion-input>            
      <ion-label position="fixed" *ngIf="heightType=='ft'">in</ion-label>
      <ion-label position="fixed" *ngIf="heightType=='meters'">cm</ion-label>
    </ion-item>
  </ion-slide>
  <ion-slide>
    <ion-item>
      <ion-label position="floating">Weight</ion-label>
        <ion-select placeholder="Select One" [(ngModel)]="weightType" 
         >
          <ion-select-option value="lbs">lbs</ion-select-option>
          <ion-select-option value="kg">kg</ion-select-option>
        </ion-select>
        <!-- <ion-label position="fixed">{{ weightType }}</ion-label> -->
        <ion-input type="number"  (ionChange)="OnChangeWeight(weightType, weightValue)" [(ngModel)]="weightValue"></ion-input>
    </ion-item>
    <ion-button (click)='submitInfo()'>Submit</ion-button>
    </ion-slide>
  </ion-slides>    
  </ion-card>
</ion-content>
