<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">
      Your Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <ion-grid>
        <ion-row>
          <h1 id="h1_1">What is your name?</h1>
        </ion-row>
        <ion-row>
        <ion-card>
          <ion-item>
            <ion-input [(ngModel)]="nameValue" placeholder="Enter your name here."></ion-input>
          </ion-item>
        </ion-card>
        </ion-row>
      </ion-grid>    
    </ion-slide>

    <ion-slide>
      <ion-grid>
        <ion-row>
          <h1 id="h1_2">What is your sex?</h1>
        </ion-row>
        <ion-row>
          <ion-card > 
          <ion-item> <div>
            <ion-select id="selectorSex" placeholder="Select One"  [(ngModel)]="sexValue">
              <ion-select-option value="male">Male</ion-select-option>
              <ion-select-option value="female">Female</ion-select-option>
            </ion-select> </div>
          </ion-item>
        </ion-card> 
        </ion-row>
      </ion-grid>
    </ion-slide>
    
    <ion-slide>
      <ion-grid>
        <ion-row>
          <h1 id="h1_2">How old are you?</h1>
        </ion-row>
        <ion-row>
          <ion-card>
            <ion-item>
              <ion-input type="number" id="selectorNum" [(ngModel)]="ageValue"></ion-input>
            </ion-item>
          </ion-card>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide>
      <ion-grid>
        <ion-row>
          <h1 id="h1_1">What is your height?</h1>
        </ion-row>
        <ion-row>
          <ion-card>
            <ion-item>
              <ion-input type="number"  [(ngModel)]="heightValue1"></ion-input>

              <ion-select placeholder="Select One" [(ngModel)]="heightType">
                <ion-select-option value="ft">ft</ion-select-option>
                <ion-select-option value="meters">m</ion-select-option>
              </ion-select>

              <ion-input type="number" [(ngModel)]="heightValue2"></ion-input>            
              <ion-label position="fixed" *ngIf="heightType=='ft'">in</ion-label>
              <ion-label position="fixed" *ngIf="heightType=='meters'">cm</ion-label>
            </ion-item>

          </ion-card>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide>
      <ion-grid>
        <ion-row>
          <h1 id="h1_1">What is your weight?</h1>
        </ion-row>
        <ion-row>
          <ion-card>
            <ion-item>
                <ion-select placeholder="Select One" [(ngModel)]="weightType">
                  <ion-select-option value="lbs">lbs</ion-select-option>
                  <ion-select-option value="kg">kg</ion-select-option>
                </ion-select>
                <!-- <ion-label position="fixed">{{ weightType }}</ion-label> -->
                <ion-input type="number" id="selectorNum" (ionChange)="OnChangeWeight(weightType, weightValue)" [(ngModel)]="weightValue"></ion-input>
            </ion-item>
          </ion-card>
          <ion-button (click)='submitInfo()'>Submit</ion-button>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>    
</ion-content>
