ion-content {
  --background: linear-gradient(#8af2e6, #19e3cb);
}

ion-slides {
  height: 100%;
}

ion-button {
  width: 30%;
  margin-left: 6em;
  margin-right: 6em;
}

#h1_1 {
  font-size: 16px;
  margin-left: 3.5em;
  left: 50%;
  text-align: center;
}

#h1_2 {
  font-size: 16px;
  margin-left: 4em;
  left: 50%;
  text-align: center;
}

#selectorSex {
  margin-left: 3.5em;
  margin-right: 3.5em;
}

#selectorNum {
  text-align: center;
}
